{
  "root": true,
  "extends": ["prettier", "prettier/standard"],
  "plugins": ["prettier", "standard"],
  "rules": {
    "prettier/prettier": "error"
  },
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true
  }
}
